<main class="container">
  <div class="border">
      <!-- The arrow should generate each time user presses enter or some command -->
    <div class="green">user&#64;jnncode.media<span class="white">:</span><span class="blue">~</span><span class="white">$</span><span>&nbsp;</span>
      <input type="text" id="input" maxLength="15" minlength="1" size="40" placeholder="type 'help' to list available commands" />
    </div>
  </div>

    <!-- Blinking 'cursor' -->
</main>
<div class="footer">
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>
