<main class="container">
  <p id="info">Welcome to jnncode.media Terminal!
    <br />Click on the left upper corner and type 'help' to begin.
  </p>
  <div class="border">
    <div id="input-container">
      <div [ngClass]="userColorClasses.join(' ')">
        <input type="text" class="input" (keyup.enter)="handleInput($event)" maxLength="15" minlength="1" size="40" />
      </div>
    </div>
    <div id="output-container">
      <div id="user-command-container"></div>
      <div id="command-list">
        <div *ngIf="showCommands">
          <div *ngFor="let command of commands">
            {{ command }}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="footer">
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>